{% extends 'base.html'%}


{%block content%}
<h1 class+"title"> New User <Sign-up></h1>
<form method="POST" class ="signup_form" onssubmit="return validatePassword()" method="post">
    <section class ="form_section">
        <input type="text" name="username" placeholder="Username" required>
    </section>


    <section class ="form_section">
        <input type="email" name="email" placeholder="Email" required>
    </section>

    <section class ="form_section">
        <input type="password" name="password" placeholder="Password" required>
    </section>


    <button type="submit" class="btn_signup">Sign Up</button>
</form>

<div class="signup_div">
    <p>Already have an account? <a href="/login">Login here</a></p> 
</div>
{%endblock%}